@import "../styles/variables";

.blog-section {
  .outer {
    .blog-outer-blk {
      .blog-top-sec {
        margin-bottom: 60px;

        .blog-top-inner {
          display: flex;
          gap: 8.8rem;
          align-items: center;
          flex-wrap: wrap;
          align-items: flex-start;
          padding-top: 12rem;
          @media (max-width: 900px) {
            flex-direction: column;
          }

          .blog-top-img {
            position: relative;
            flex: 0 0 45%;

            @media (max-width: 900px) {
              width: 100%;
            }

            img {
              width: 100%;
              // border-radius: 10px;
            }

            .blog-label {
              position: absolute;
              top: 20px;
              left: 20px;
              background: #fff;
              color: $text-color-2; // or a dark gray
              padding: 10px 11px;
              font-size: 1.8rem;
              font-weight: 500;
              box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
              z-index: 2;
              white-space: nowrap;
              font-weight: 400;

              @media (max-width: 768px) {
                font-size: 1rem;
                padding: 4px 10px;
              }
            }
          }

          .blog-top-content {
            flex: 1;

            ul.blog-meta {
              display: flex;
              align-items: center;
              gap: 25px;
              color: #777;
              font-size: 1.6rem; // increased font size
              margin: 0;
              padding: 0;
              list-style: none;

              li {
                position: relative;
                padding-left: 23px;
                font-weight: 300;
                font-style: Light;
                font-size: 22px;
                line-height: 20px;
                letter-spacing: 0%;
                color: $text-color-50;

                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 8px; // dot size increased
                  height: 8px;
                  background: $secondary-color; // blue dot
                  border-radius: 50%;
                }
              }
              .slash{
                  padding: 0 10px 0;
              }
            }

            h2 {
                padding-top: 2rem;
                font-weight: 300;
                font-style: Light;
                font-size: 50px;
                line-height: 50px;
                letter-spacing: 0%;
                color: $text-color;
                margin: 0;
            }

            p {
                font-family: "Raleway";
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0%;
                color: $text-color-80;
                margin: 0;
                padding-top: 1rem;
                padding-bottom: 4.7rem;
            }

            .read-more-btn {
              background: #000;
              color: #fff;
              padding: 10px 20px;
              border-radius: 4px;
              text-decoration: none;
              transition: 0.3s;

              &:hover {
                background: #333;
              }
            }
          }
        }
      }
      .project-btm-blk{
        background: none;
        text-decoration: none;
        .project-img{
            img{
                max-width: 413px;
                min-height: 400px;
            }
        }
        .project-text h5 {
            font-family: "Raleway";
            font-weight: 500;
            font-style: Medium;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0%;
            padding-bottom: 0.8rem;
        }
        h4{
            font-weight: 400;
            font-style: Regular;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0%;
            color: $text-color;
        }
      }
    }
  }
}
