@import './variables';

.eqn-btn {
  .enquire-btn {
    text-decoration: none;
    background-color: $black;
    color: $primary-color; 
    padding: 16px 28px;
    border-radius: 8px;
    transition: all 0.3s ease; 

    &:hover {
      background-color: $primary-color; 
      color: $black; 
      transform: translateY(-2px); 
    }
  }
}


.content-blk{ 
  background-color: rgba(247, 250, 252, 1);
  .content-section{
    padding-top: 10rem;
    display: flex;
    // justify-content: space-between;
    gap: 130px;
    @media (max-width: 1024px) {
        gap: 60px;
    }
    @media (max-width: 800px) {
        flex-wrap: wrap;
        padding-top: 3rem;
        gap: 30px;
    }
    @media (max-width: 500px) {
        gap: 30px;
        padding-top: 5rem;
        flex-wrap: wrap;
    }
  }
  .head{
      display: flex;
      flex-direction: column;  
      padding-top: 2.1rem;
      h5{
          margin: 0;
          color: $text-color-50;
          position: relative;
          padding-left: 20px; // 8px dot + 12px gap
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            background-color: $secondary-color; // Use your desired blue color
            border-radius: 50%;
          }
      }             
      h2{
          margin: 0;
          color: $text-color;
          max-width: 575px;
          justify-content: space-between;
          font-weight: 300;
      } 
  }
  .cnt{
    display: flex;
    align-items: flex-end;
  }
  P{
      max-width: 60rem;
      margin: 0;
      text-align: left;
      color: $text-color-80;
      font-size: 1.8rem;
  }
}

.mouse-effect {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 9999;
}

.circle,
.circle-follow {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 12px;
  height: 12px;
  background: $secondary-color;
  mix-blend-mode: difference;
}

.circle-follow {
  width: 35px;
  height: 35px;
  border: 1px solid $black;
  opacity: 0.6;
}


  // Bottom grid section
    .project-btm-sec {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(314px, 1fr));
      gap: 20px;
      row-gap: 80px; 
      // padding-bottom: 12rem;
      // padding-bottom: ;
      @media (max-width: 768px) {
        padding-bottom: 3rem;
        
      }  

      .project-btm-blk {
        background: rgba(247, 250, 252, 1);
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-5px);
        }

        .project-img {
          position: relative;
          img {
            width: 100%;
            height: auto;
            display: block;
          }
          .project-label {
            position: absolute;
            top: 20px;
            left: 20px;
            background: #fff;
            color: $text-color-2; // or a dark gray
            padding: 10px 11px;
            font-size: 1.8rem;
            font-weight: 500;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
            z-index: 2;
            white-space: nowrap;
            font-weight: 400;
            @media (max-width: 768px) {
              font-size: 1rem;
              padding: 4px 10px;
            }
          }
        }

        .project-text {
          padding-top: 2rem;
          h4 {
            font-weight: 400;
            font-style: Regular;
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 0%;
            margin: 0;
            color: $text-color-2;
          }
          p {
            font-family: "Raleway";
            font-weight: 500;
            font-style: Medium;
            line-height: 3rem;
            letter-spacing: 0%;
            margin: 0;
            color: $text-color-80;
          }
          h5 {
            font-family: "Raleway";
            font-weight: 500;
            font-style: Regular;
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 0%;
            margin: 0;
            color: $secondary-color;
          }
        }
      }
    }

    // blog-Top Head //
    .blog-top-inner {
      display: flex;
      gap: 8.8rem;
      align-items: center;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 12rem;
        @media (max-width: 900px) {
          flex-direction: column;
        }
        .blog-backbtn-blk{
          display: flex;
          align-items: center;
          gap: 8px;
          cursor: pointer;
          color: #333;
          font-size: 14px;
          font-weight: 500;
          transition: color 0.3s ease;
        
          img {
            width: 26px;
            height: 26px;
            object-fit: contain;
          }
        
          &:hover {
            color: #007bff; // or your brand blue
          }
        }

        .blog-top-img {
          position: relative;
          flex: 0 0 45%;

          @media (max-width: 900px) {
            width: 100%;
          }
          
          img {
            width: 100%;
            // border-radius: 10px;
          }

          .blog-label {
            position: absolute;
            top: 20px;
            left: 20px;
            background: #fff;
            color: $text-color-2; // or a dark gray
            padding: 10px 11px;
            font-size: 1.8rem;
            font-weight: 500;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
            z-index: 2;
            white-space: nowrap;
            font-weight: 400;
            
            @media (max-width: 768px) {
              font-size: 1rem;
              padding: 4px 10px;
            }
          }
        }
        .blog-top-content {
            flex: 1;
            ul.blog-meta {
              display: flex;
              align-items: center;
              gap: 25px;
              color: #777;
              font-size: 1.6rem; // increased font size
              margin: 0;
              padding: 0;
              list-style: none;
              
              li {
                position: relative;
                padding-left: 23px;
                font-weight: 300;
                font-style: Light;
                font-size: 22px;
                line-height: 20px;
                letter-spacing: 0%;
                color: $text-color-50;
                
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 8px; // dot size increased
                  height: 8px;
                  background: $secondary-color; // blue dot
                  border-radius: 50%;
                }
              }
              .slash{
                  padding: 0 10px 0;
                }
            }
            
            h2 {
                padding-top: 2rem;
                font-weight: 300;
                font-style: Light;
                font-size: 50px;
                line-height: 50px;
                letter-spacing: 0%;
                color: $text-color;
                margin: 0;
            }
        
            p {
                font-family: "Raleway";
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0%;
                color: $text-color-80;
                margin: 0;
                padding-top: 1rem;
                padding-bottom: 4.7rem;
              }
        
            .read-more-btn {
              background: #000;
              color: #fff;
              padding: 10px 20px;
              border-radius: 4px;
              text-decoration: none;
              transition: 0.3s;
        
              &:hover {
                background: #333;
              }
            }  
          }
        }