//  Archivo Font Faces //
@font-face {
    font-family: "Archivo";
    src: url("../../public/assets/fonts/Archivo/static/Archivo-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Archivo";
    src: url("../../public/assets/fonts/Archivo/static/Archivo-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Archivo";
    src: url("../../public/assets/fonts/Archivo/static/Archivo-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Archivo";
    src: url("../../public/assets/fonts/Archivo/static/Archivo-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Archivo";
    src: url("../../public/assets/fonts/Archivo/static/Archivo-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

//  Raleway Font Faces //
@font-face {
    font-family: "Raleway";
    src: url("../../public/assets/fonts/Raleway/static/Raleway-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../../public/assets/fonts/Raleway/static/Raleway-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../../public/assets/fonts/Raleway/static/Raleway-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../../public/assets/fonts/Raleway/static/Raleway-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../../public/assets/fonts/Raleway/static/Raleway-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

//  DM Sans Font Faces //
@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


