.neighbourhood-sec{
    background: white;
    .neighbourhood-outer{
        .loc-img{
            padding-top: 4.5rem;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .content-blk {
            background: #FFFF;
        }
    }
}