@import '../styles/variables';
@import '../styles/mixins';
@import '../styles/fonts';

.our-project-section {
      background: rgba(247, 250, 252, 1);
  .project-outer {
    max-width: 1281px; // total width
    margin: 0 auto;

    // Top section
    .project-top-sec {
      display: flex;
      padding-top: 6.1rem;
      padding-bottom: 8rem;
      gap: 20px;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;  
      }
      .project-top-blk {
        flex: 0 0 auto;

        .project-img {
          position: relative;
          img {
            width: 100%;
            height: auto;
            display: block;
          }
          .project-label {
            position: absolute;
            top: 20px;
            left: 20px;
            background: #fff;
            color: $text-color-2; // or a dark gray
            font-weight: 500;
            padding: 10px 11px;
            font-size: 1.8rem;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
            z-index: 2;
            white-space: nowrap;
            font-weight: 400;
            @media (max-width: 768px) {
              font-size: 1rem;
              padding: 4px 10px;
            }
          }
        }

        .project-text {
          padding-top: 2rem;
          h4 {
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 3rem;
            letter-spacing: 0%;
            margin: 0;
            color: $text-color-2;
          }
          p {
            font-family: "Raleway";
            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0%;
            margin: 0;
            color: $text-color-80;
          }
          h5 {
            font-weight: 400;
            font-style: Regular;
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 0%;
            margin: 0;
            color: $secondary-color;
          }
        }
      }

      // first block
      .project-top-blk:first-child {
        width: calc((738 / 1281) * 100%);
        @media (max-width: 768px) {
          width: 100%;
        }
      }

      // second block
      .project-top-blk:nth-child(2) {
        width: calc((523 / 1281) * 100%);
         @media (max-width: 768px) {
          width: 100%;
        }
      }
    }

    // // Bottom grid section
    // on common.scss
  }
}
