$xs: 360px;
$sm: 580px;
$md: 768px;
$lg: 992px;
$xl: 1080px;
$xxl: 1300px;
$xxxl: 1400px;

$primary-color: #FFFFFF;
$secondary-color: #0660B4;
$bg-color: #F7FAFC;
$black: #000000;
$text-color: #373732;
$text-color-2: #1D1D1B;
$border: 1px solid rgba(0, 0, 0, 0.1);
$text-color-80: rgba(55, 55, 50, 0.8);
$text-color-50: rgba(55, 55, 50, 0.5);

