@import '../styles/mixins';
@import '../styles/variables';
@import '../styles/fonts';
@import 'aos/dist/aos.css';


/* Import Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom SASS variables and styles */
$primary-color: $text-color;
$bg-color: #FFFF;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	color:$text-color;
	font-size: 10px;	
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
  font-family: "Archivo";
  background-color: $bg-color;
  color: $text-color;
  margin: 0;
  font-size: 1.6rem;
  overflow-x: hidden;

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  .container {
  width: 100%;
  max-width: 1320px;  
  margin: 0 auto;     
  padding: 0 20px;      
  box-sizing: border-box;
  }

  h1,h2,h3,h4,h5,h6{
	// color:$secondary-color;
	// font-family:$secondary-font;
	margin: 0;
}
h1{
	@include mobileH1;
	
	@media screen and (min-width: $md) {
		@include tabH1;
	}
	@media screen and (min-width: $xl) {
		@include smalldesktopH1;
	}
	@media screen and (min-width: $xxl) {
		@include desktopH1;
	}
	
}
h2{
	@include mobileH2;
	
	@media screen and (min-width: $md) {
		@include tabH2;
	}
	@media screen and (min-width: $xl) {
		@include smalldesktopH2;
	}
	@media screen and (min-width: $xxl) {
		@include desktopH2;
	}
	
}
h3{
	@include mobileH3;
	
	@media screen and (min-width: $md) {
		@include tabH3;
	}
	@media screen and (min-width: $xl) {
		@include smalldesktopH3;
	}
	@media screen and (min-width: $xxl) {
		@include desktopH3;
	}
	
}
h4{
	@include mobileH4;
	
	@media screen and (min-width: $md) {
		@include tabH4;
	}
	@media screen and (min-width: $xl) {
		@include smalldesktopH4;
	}
	@media screen and (min-width: $xxl) {
		@include desktopH4;
	}
}
h5{
	@include mobileH5;
	
	@media screen and (min-width: $md) {
		@include tabH5;
	}
	@media screen and (min-width: $xl) {
		@include smalldesktopH5;
	}
	@media screen and (min-width: $xxl) {
		@include desktopH5;
	}
	
}
h6{
	@include mobileH6;
	
	@media screen and (min-width: $md) {
		@include tabH6;
	}
	@media screen and (min-width: $xl) {
		@include smalldesktopH6;
	}
	@media screen and (min-width: $xxl) {
		@include desktopH6;
	}
	
}
p{
	color: $primary-color;
	@include mobileBody;
	@media screen and (min-width:$md) {
		@include desktopBody;
	}
}

ul {
  list-style: none; 
  padding-left: 0;
  margin: 0;

  li {
    color: $text-color;
    position: relative;
    padding-left: 16px; 
    margin-bottom: 6px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: 8px;
      height: 8px;
      background-color: $secondary-color; 
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }
}

ol {
  list-style: decimal; 
  list-style-position: outside;
  padding-left: 16px;
  margin: 0;

  li {
    color: $text-color;
    margin-bottom: 6px;
  }
}


}
